<div class="container-fluid">
  <div class="jumbotron text-center">
    <h1>
      <span translate>APP_NAME</span>
    </h1>
    <p>
      <i class="fa fa-bookmark-o"></i> <span translate>Version</span> {{version}}
    </p>
    <p>
      <select [(ngModel)]="searchType">
        <option *ngFor="let s of searchTypes" [ngValue]="s">{{s.name}}</option>
      </select>
      <input [(ngModel)]="message" /><button (click)="test()">Send</button>
    </p>
    <div *ngIf="serverResponse.type !== undefined && serverResponse.type.id == 0">
      <div *ngFor="let track of serverResponse.items">
        <app-track [track]="track"></app-track>
      </div>
    </div>
    <div *ngIf="serverResponse.type !== undefined && serverResponse.type.id == 1">
      <div *ngFor="let album of serverResponse.items">
        <app-album [album]="album"></app-album>
      </div>
    </div>
    <div *ngIf="serverResponse.type !== undefined && serverResponse.type.id == 2">
      <div *ngFor="let artist of serverResponse.items">
        <app-artist [artist]="artist"></app-artist>
      </div>
    </div>
  </div>
</div>