<div class="hjbv-voter-artist list-group-item flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{artist.name}}</h5>
        <img  *ngIf="artist.images[1]" class="img-thumbnail" src="{{artist.images[1].url}}" style="height: 100px; width: 100px;" />
    </div>
    <p class="mb-1">&nbsp;</p>
    <div class="d-flex w-100 justify-content-between">
    <small class="text-muted">&nbsp;</small>
    <div class="btn-group" role="group" aria-label="Basic example" style="float: right;">
        <button title="Show Albums" type="button" class="btn btn-secondary"><i class="fa fa-toggle-up"></i></button>
    </div>
    </div>
</div>