<div class="item">
    <img class="albumArt" src="{{album.images.2.url}}"/>
    <h4 class="header"><span class="artistName">{{artists.0.name}}</span> - <span class="trackName">{{name}}</span></h4>
    <span class="albumTitle">{{album.name}}</span>
</div>