<form action="">
    <select id="type">
    <option name="track">Track</option>
    <option name="album">Album</option>
    <option name="artist">Artist</option> 
    </select>
    <input id="m" autocomplete="off" /><button>Send</button>
</form>